            
    
        </main>
        <footer class="ui black inverted vertical footer segment">
                <div class="ui center aligned container">
                    Smaragda Petsani &copy; 2018
                </div>
                
            </footer>
    </body>
</html>