<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Portfolio Web Page</title>
        <meta name="description" content="Portfolio of a Structural Engineer aspiring web development">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet" type="text/css">
        <link href="stylesheet.css" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js" ></script>
    </head>
    <body class="Site">
        <header>
            <div class="ui inverted segment">
                <nav class="ui inverted secondary pointing large menu">
                    <a href="/index" class="item"><i class="ellipsis vertical  icon"></i></a>  
                    <a href="/index" class="item">Home</a>
                    <a href="/education" class="item">Education</a>
                    <a href="/portfolio" class="item">Work Experience/Portfolio</a>
                    <a href="/contact" class="item">Contact</a>
                </nav>
             </div>
        </header>
        <main class="Site-content">
      
            
        
        
       
        
