<% include ./partials/header %>

    <div class="ui grid  Site-content">
        
            <div class="six wide column side_img">
                <img class="ui fluid image" src="https://images.unsplash.com/photo-1471958680802-1345a694ba6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=141ed65bae0927538d045ef436582cb5&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="seven wide column ">
                <h4>About Me!!!</h4>
                <p>I am Smaragda, a young structural engineer and an aspiring developer from Greece. Some people may consider me good at effectively tackling engineering problems as well as taking on coding challenges.  </p>
                <h5>Engineering</h5>
                <p>An Structural Engineer Graduate with a MSc. in Earthquake Engineering, I have already gained many months of proffesional experience either in the format
                of an internship or as junior engineer. I have joined firms that undertook exclusively international projects,  working both as  a part of a team but also handling many responsibilities independently. Some of my responsibilities so far include
                but are not limited to: <li>Static Calculations</li>
                <li>Construction Drawings</li>
                <li>BIM Modelling using Revit Autodesk, Tekla Structures</li>
                <li>Quality Assesment of Constructions Drawings</li>
                </p>
                <h5>Web Development</h5>
                <p>Still a newbie in Development, at least in the web, I am just starting to explore the infinite possibilities in this
                field.Although I have written code to automate my workflow as an engineer,for a while now I have started to experiment with Web development projects
                as well. With a few online courses under my belt, I am looking to take on assignments that can help me
                progressively advance my skills both in Front as well as in Back-End web development!!</p>
            </div>
        
     
    </div>



<% include ./partials/footer %>