<% include ./partials/header %>

  <div class="ui grid">
      
        <div class="ui block header row">Structural Engineering</div>
        <p>MSc. Earthquake Engineering</p>
        
        <h3>Web Development</h3>
</div>
<% include ./partials/footer %>