<% include ./partials/header %>





<p>
    <% projects.forEach(function(project){%>
    <ul>
        <li><%=project.title%></li>
        <li><%=project.description%></li>
        <li><%=project.created.toDateString()%></li>
       
    </ul>


    <%})%>

</p>

<% include ./partials/footer %>