/*General styles*/
p{
    text-align: justify;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  margin:0px 0 0px 0px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.mainBackground{
    background:linear-gradient(90deg, 
                            rgb(255, 255, 255,0), 
                            rgb(253, 184, 19,0.30), 
                            rgb(255, 255, 255,0) ),
             url("https://images.unsplash.com/photo-1516355050837-04ee36ab72db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a1dce281b60e325dca840a3f75fceb30&auto=format&fit=crop&w=934&q=80") left,
             url("https://images.unsplash.com/photo-1536273830236-c825e8ee283f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9c139a1b3e9622531120e55a4742e77d&auto=format&fit=crop&w=751&q=80") right;
  background-repeat: no-repeat;
  background-size:100%, 50%,50% 100%;
  background-attachment: fixed;
}



/*Education style for each section*/
section{
  background-color:transparent;
  padding-top: 50px;
  position: relative;
}
section:first-child{
  margin:auto;
}


#sectionTitle.sectionTitle{
  text-shadow: 0px 3px 3px #000;
  font-size: 1.2em;
  transition:all 1.5s;
  position: absolute;
  top:50%;
  left:35px;
  
}



#sectionTitle.sectionTitle:hover{
  letter-spacing: 3px;
  font-size:2em;
}

img{
  box-shadow:rgb(0, 0, 0) 16px 14px 15px -15px ;
}